@import "reset";

$mobile-breakpoint: 769px;
$tablet-breakpoint: 1042px;
$small-desktop-breakpoint: 1215px;
$desktop-breakpoint: 1440px;

header {
  display: flex;
  justify-content: flex-end;
  height: 300px;
  width: 100%;
  color: white;
  position: relative;
  .container {
    display: flex;
    width: 53%;
    justify-content: space-between;
    position: absolute;
    margin-top: -1%;
    order: 1;
    .logo {
      height: 120px;
      width: 100px;
    }
    nav {
      width: 26%;
      display: flex;
      margin-right: 5.46%;
      margin-top: 33px;
      ul {
        width: 100%;
        height: 27px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        li {
          cursor: pointer;
          .link {
            color: white;
            text-decoration: none;
          }
        }
      }
      div.mobile {
        display: none;
      }
    }
  }
  .background {
    width: 100%;
    position: absolute;
    order: -1;
  }
}

main {
  height: 1080px;
  display: flex;
  padding-top: 50px;
  .phones {
    width: 49%;
    height: auto;
    margin-left: 7.396%;
    margin-right: 7.5%;
    img {
      height: auto;
      width: 100%;
    }
  }
  .download {
    width: 23%;
    height: 383px;
    margin-top: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      font-size: 60px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      color: #6A67CE;
    }
    p {
      font-size: 36px;
      font-family: 'Open Sans', sans-serif;
      color: #D1D1D1;
    }
    img {
      height: 228px;
      width: 320px;
      margin-left: -20px;
    }
  }
}

section.about {
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 391px;
    h2 {
      display: flex;
      align-self: center;
      font-size: 36px;
      font-family: 'Roboto Slab', serif;
      color: #6A67CE;
    }
    p {
      display: flex;
      text-align: center;
      font-size: 24px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      color: #D1D1D1;
    }
    button {
      height: 60px;
      width: 200px;
      border: none;
      border-radius: 30px;
      color: #ffffff;
      font-size: 24px;
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      background: linear-gradient(to right, rgba(106,103,206,1) 0%, rgba(190,0,255,1) 100%);
      margin-bottom: 80px;
      cursor: pointer;
      transition: background 2s;
      outline:none;
      &:hover {
        background: linear-gradient(to left, rgba(106,103,206,1) 0%, rgba(190,0,255,1) 100%);
      }
    }
  }
}

section.info {
  height: 1773px;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  .box {
    height: 405px;
    width: 390px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &:first-of-type {
      margin-top: 8.1%;
      margin-left: 16.77%;
    }
    &:nth-of-type(2) {
      margin-top: 16%;
      margin-left: 57.19%;
    }
    &:nth-of-type(3) {
      margin-top: 37%;
      margin-left: 26.15%;
    }
    &:last-of-type {
      margin-top: 55.44%;
      margin-left: 50%;
    }
    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &.first {
        box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.1);
      }
      &.second {
        background-color: #7d00ca;
      }
    }
    h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 36px;
      text-align: center;
      color: #6A67CE;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      font-size: 24px;
      text-align: center;
      color: #D1D1D1;
    }
  }
}

section.big {
  height: 1080px;
  width: 100%;
  background-color: #ECF0F3;
  position: relative;
  display: flex;
  .background {
    width: 100%;
    position: absolute;
    top: -350px;
    order: -1;
  }
  div {
    width: 100%;
    position: absolute;
    img {
      height: 1080px;
      width: 100%;
    }
  }
}

section.team {
  height: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgba(106,103,206,1) 0%, rgba(190,0,255,1) 100%);
  color: #ffffff;
  position: relative;
  .background {
    width: 100%;
    position: absolute;
    top: -360px;
    order: -1;
  }
  .container {
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    h4 {
      font-size: 36px;
      font-family: 'Roboto Slab', serif;
      text-align: center;
      font-weight: 400;
    }
    p {
      font-size: 24px;
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      text-align: center;
    }
    .description {
      height: 213px;
      margin-top: 83px;
      margin-bottom: 35px;
      h4 {
        margin-bottom: 36px;
      }
    }
    .people {
      display: flex;
      margin-bottom: 124px;
      .person {
        height: 437px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-of-type {
          margin-right: 200px;
        }
        .photo {
          height: 200px;
          width: 200px;
          border-radius: 50%;
          margin-bottom: 47px;
          img {
            height: 200px;
            width: 200px;
          }
        }
      }
    }
    .circles {
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      .circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #FFFFFF;
      }
    }
  }
}

.application {
  display: flex;
  height: 1600px;
  width: 100%;
  .chat {
    height: 903.5px;
    max-width: 100%;
    margin-left: 216px;
    margin-top: 205px;
  }
  .download {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 903.5px;
    width: 1005px;
    margin-top: 332px;
    .text {
      height: 675px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h5 {
        font-size: 36px;
        font-family: 'Roboto Slab', serif;
        color: #6A67CE;
      }
      p {
        padding-top: 36px;
        width: 391px;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #AFAFAF;
      }
      button {
        height: 60px;
        width: 200px;
        border: none;
        border-radius: 30px;
        color: #ffffff;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        background: linear-gradient(to right, rgba(106,103,206,1) 0%, rgba(190,0,255,1) 100%);
        margin-bottom: 130px;
        cursor: pointer;
        transition: background 2s;
        outline:none;
        &:hover {
          background: linear-gradient(to left, rgba(106,103,206,1) 0%, rgba(190,0,255,1) 100%);
        }
      }
    }
    img {
      height: 228px;
      width: 320px;
    }
  }
}

footer {
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .background {
    width: 100%;
    position: absolute;
    order: -1;
  }
  .socials {
    position: absolute;
    margin-top: 90px;
    height: 187.5px;
    width: 173.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      height: 106px;
      width: 106px;
    }
    .media {
      height: 31px;
      svg {
        width: 36px;
        height: 30px;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  header {
    width: 100%;
    height: 150px;
    display: flex;
    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      svg {
        height: 100px;
        width: 80px;
      }
      nav {
        margin-top: -3%;
        margin-right: 3%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        .hamburger {
          width: 35px;
          height: 7px;
          background-color: #FFFFFF;
          margin: 2px 0;
          border-radius: 5px;
        }
        ul {
          display: none;
        }
      }
    }
  }
  main {
    width: 100%;
    height: 1080px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    .phones {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
        width: 90%;
        min-width: 80%;
        margin: 0;
      }
    }
    .download {
      height: 317px;
      width: 90%;
      margin: 0;
      align-items: center;
      h1 {
        font-size: 30px;
      }
      p {
        text-align: center;
      }
    }
  }
  section.about {
    width: 100%;
    height: 654px;
    .container {
      width: 90%;
      button {
        margin: 0;
      }
    }
  }
  section.info {
    width: 100%;
    height: 1962px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: static;
    .box {
      position: static;
      &:first-of-type {
        margin: 0;
        margin-top: 61px;
        margin-bottom: 52px;
      }
      &:nth-of-type(2) {
        margin: 0;
        margin-bottom: 52px;
      }
      &:nth-of-type(3) {
        margin: 0;
        margin-bottom: 52px;
      }
      &:last-of-type {
        margin: 0;
        margin-bottom: 52px;
      }
    }
  }
  section.big {
    display: none;
  }
  section.team {
    width: 100%;
    height: 1708px;
    .background {
      top: -150px;
    }
    .container {
      width: 90%;
      .people {
        flex-direction: column;
        align-items: center;
        margin: 0;
        .person {
          height: 628px;
          &:first-of-type {
            margin: 0;
          }
        }
      }
    }
  }
  section.application {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chat {
      margin-top: 75px;
      margin-bottom: 75.5px;
      margin-left: 0;
    }
    .download {
      width: 90%;
      height: 657px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        justify-content: flex-start;
      }
      button {
        display: none;
      }
      img {
        margin: 0;
      }
    }
  }
  footer {
    height: 300px;
    .socials {
      height: 100px;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  header {
    width: 100%;
    .container {
      width: 53%;
      margin-top: -2%;
      nav {
        width: 45%;
        margin-right: 10%;
      }
    }
  }
  main {
    width: 100%;
    height: 1080px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    .phones {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        height: auto;
        width: 90%;
        margin: 0;
      }
    }
    .download {
      height: 317px;
      width: 90%;
      margin: 0;
      align-items: center;
      h1 {
        font-size: 30px;
      }
      p {
        text-align: center;
      }
    }
  }
  section.info {
    height: 1573px;
    width: 100%;
    .box {
      &:first-of-type {
        margin-top: 5%;
        margin-left: 1%;
      }
      &:nth-of-type(2) {
        margin-top: 25%;
        margin-left: 47%;
      }
      &:nth-of-type(3) {
        margin-top: 65%;
        margin-left: 1%;
      }
      &:last-of-type {
        margin-top: 85%;
        margin-left: 47%;
      }
    }
  }
  section.big {
    display: none;
  }
  section.team {
    width: 100%;
    height: 1708px;
    position: relative;
    .background {
      width: 100%;
      position: absolute;
      top: -220px;
      order: -1;
    }
    .container {
      width: 90%;
      .people {
        flex-direction: column;
        align-items: center;
        margin: 0;
        .person {
          height: 628px;
          &:first-of-type {
            margin: 0;
          }
        }
      }
    }
  }
  section.application {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chat {
      margin-top: 75px;
      margin-bottom: 75.5px;
      margin-left: 0;
    }
    .download {
      width: 90%;
      height: 657px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        justify-content: flex-start;
      }
      button {
        display: none;
      }
      img {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-device-width: $mobile-breakpoint) {
  header {
    width: 100%;
    height: 150px;
    display: flex;
    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      svg {
        height: 100px;
        width: 80px;
      }
      nav {
        margin-top: -3%;
        margin-right: 3%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        .menu {
          display: inline-block;
          div {
            width: 35px;
            height: 7px;
            background-color: #FFFFFF;
            margin: 2px 0;
            border-radius: 5px;
            transition: 0.4s;
          }
          .change:first-of-type {
            transform: rotate(-45deg) translate(-4px, 2px);
          }
          .change:last-of-type {
            transform: rotate(45deg) translate(-4px, -2px);
          }
        }
        ul {
          flex-direction: column;
          align-items: center;
          height: 300px;
          width: 100vw;
          opacity: 0.7;
          margin-left: 30px;
          margin-top: 300px;
          position: absolute;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            height: 100px;
            width: 100%;
            background-color: #7d00ca;
          }
        }
        .desktop {
          display: none;
        }
      }
    }
  }
  main {
    width: 100%;
    height: 1080px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    .phones {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        height: auto;
        width: 90%;
        margin: 0;
      }
    }
    .download {
      height: 317px;
      width: 90%;
      margin: 0;
      align-items: center;
      h1 {
        font-size: 30px;
      }
      p {
        text-align: center;
      }
    }
  }
  section.about {
    width: 100%;
    height: 654px;
    .container {
      width: 90%;
      button {
        margin: 0;
      }
    }
  }
  section.info {
    width: 100%;
    height: 3350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: static;
    .box {
      height: 710px;
      width: 680px;
      position: static;
      &:first-of-type {
        margin: 0;
        margin-top: 61px;
        margin-bottom: 52px;
      }
      &:nth-of-type(2) {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 52px;
      }
      &:nth-of-type(3) {
        margin-top: 0;
        margin-bottom: 52px;
      }
      &:last-of-type {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 52px;
      }
      .circle {
        height: 400px;
        width: 400px;
        svg {
          width: 300px;
          height: 200px;
        }
      }
    }
  }
  section.big {
    display: none;
  }
  section.team {
    width: 100%;
    height: 1708px;
    .container {
      width: 90%;
      .people {
        flex-direction: column;
        align-items: center;
        margin: 0;
        .person {
          height: 628px;
          width: 100%;
          &:first-of-type {
            margin: 0;
          }
          .photo {
            height: 300px;
            width: 300px;
            img {
              height: 300px;
              width: 300px;
            }
          }
        }
      }
    }
  }
  section.application {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chat {
      margin-top: 75px;
      margin-bottom: 75.5px;
      margin-left: 0;
    }
    .download {
      width: 90%;
      height: 657px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        justify-content: flex-start;
      }
      button {
        display: none;
      }
      img {
        margin: 0;
      }
    }
  }
  footer {
    width: 100%;
    .socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  header {
    width: 100%;
    .container {
      width: 50%;
      margin-top: -2%;
      nav {
        width: 40%;
      }
    }
  }
  main {
    height: 700px;
  }
  section.info {
    .box {
      &:first-of-type {
        margin-top: 8.1%;
        margin-left: 16.77%;
      }
      &:nth-of-type(2) {
        margin-top: 16%;
        margin-left: 57.19%;
      }
      &:nth-of-type(3) {
        margin-top: 57%;
        margin-left: 16.77%;
      }
      &:last-of-type {
        margin-top: 64.9%;
        margin-left: 57.19%;
      }
    }
  }
  section.big {
    img {
      width: 140%;
    }
  }
}

@media only screen and (min-width: $tablet-breakpoint) and (max-width: $small-desktop-breakpoint) {
  section.team {
    width: 100%;
    height: 1708px;
    .container {
      width: 90%;
      .people {
        flex-direction: column;
        align-items: center;
        margin: 0;
        .person {
          height: 628px;
          &:first-of-type {
            margin: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: $mobile-breakpoint) and (max-device-width: $tablet-breakpoint) {
  header {
    width: 100%;
    .container {
      width: 53%;
      nav {
        width: 45%;
        margin-right: 10%;
      }
    }
  }
  main {
    width: 100%;
    height: 1080px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    .phones {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        height: auto;
        width: 90%;
        margin: 0;
      }
    }
    .download {
      height: 317px;
      width: 90%;
      margin: 0;
      align-items: center;
      h1 {
        font-size: 30px;
      }
      p {
        text-align: center;
      }
    }
  }
  section.info {
    height: 1473px;
    width: 100%;
    .box {
      &:first-of-type {
        margin-top: 5%;
        margin-left: 1%;
      }
      &:nth-of-type(2) {
        margin-top: 25%;
        margin-left: 47%;
      }
      &:nth-of-type(3) {
        margin-top: 65%;
        margin-left: 1%;
      }
      &:last-of-type {
        margin-top: 85%;
        margin-left: 47%;
      }
    }
  }
  section.big {
    display: none;
  }
  section.team {
    width: 100%;
    height: 1708px;
    position: relative;
    .background {
      width: 100%;
      position: absolute;
      top: -220px;
      order: -1;
    }
    .container {
      width: 90%;
      .people {
        flex-direction: column;
        align-items: center;
        margin: 0;
        .person {
          height: 628px;
          &:first-of-type {
            margin: 0;
          }
        }
      }
    }
  }
  section.application {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .chat {
      margin-top: 75px;
      margin-bottom: 75.5px;
      margin-left: 0;
    }
    .download {
      width: 90%;
      height: 657px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .text {
        justify-content: flex-start;
      }
      button {
        display: none;
      }
      img {
        margin: 0;
      }
    }
  }
}

section.contact {
  height: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text {
    width: 1200px;
    height: 212px;
    h1 {
      font-size: 36px;
      font-family: 'Roboto Slab', serif;
      color: #6A67CE;
      margin-bottom: 36px;
      text-align: center;
    }
    p {
      font-size: 24px;
      font-family: 'Open Sans', sans-serif;
      color: #D1D1D1;
      text-align: center;
    }
  }
  form {
    height: 617px;
    width: 1053px;
    input[type=text] {
      height: 70px;
      width: 499px;
      padding-left: 37px;
      border: none;
      border-radius: 30px;
      box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.1);
      &:first-of-type {
        margin-right: 53px;
      }
      &:focus {
        outline: none;
        border: 2px solid #6A67CE;
      }
    }
    textarea {
      resize: none;
      height: 341.75px;
      width: 100%;
      padding-left: 37px;
      padding-top: 24px;
      margin-top: 80px;
      border: none;
      border-radius: 30px;
      box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.1);
      &:focus {
        outline: none;
        border: 2px solid #6A67CE;
      }
    }
    div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;
      input[type=submit] {
        height: 60px;
        width: 200px;
        border: none;
        border-radius: 30px;
        color: #ffffff;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        background: linear-gradient(to right, rgba(106,103,206,1) 0%, rgba(190,0,255,1) 100%);
        cursor: pointer;
        outline:none;
        &:hover {
          background: linear-gradient(to left, rgba(106,103,206,1) 0%, rgba(190,0,255,1) 100%);
        }
      }
    }
  }
}

@media only screen and (max-device-width: $tablet-breakpoint) {
  section.contact {
    height: 1120px;
    width: 100vw;
    overflow: hidden;
    .text {
      width: 80%;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input[type=text] {
        height: 50px;
        width: 80%;
        margin-bottom: 30px;
        &:first-of-type {
          margin-right: 0;
        }
      }
      textarea {
        margin-top: 0;
        margin-bottom: 30px;
        height: 200px;
        width: 80%;
      }
      div {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  section.contact {
    height: 1120px;
    width: 100%;
    overflow: hidden;
    .text {
      width: 60%;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input[type=text] {
        height: 50px;
        width: 30%;
        margin-bottom: 30px;
        &:first-of-type {
          margin-right: 0;
        }
      }
      textarea {
        margin-top: 0;
        margin-bottom: 30px;
        height: 200px;
        width: 30%;
      }
      div {
        width: 30%;
      }
    }
  }
}

@media only screen and (max-width: $small-desktop-breakpoint) {
  section.contact {
    height: 1120px;
    width: 100%;
    overflow: hidden;
    .text {
      width: 80%;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input[type=text] {
        height: 50px;
        width: 70%;
        margin-bottom: 30px;
        &:first-of-type {
          margin-right: 0;
        }
      }
      textarea {
        margin-top: 0;
        margin-bottom: 30px;
        height: 200px;
        width: 70%;
      }
      div {
        width: 70%;
      }
    }
  }
}


